.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.banner{
  background-color: black;
  color: whitesmoke;
  width: auto;
}

.control{
 background: linear-gradient(grey, black);
 color: whitesmoke;
}

.tron{
  height: 75vh;
  background: url(./Assets/computer.jpg);
  background-size: contain;
  color: whitesmoke;
  margin-bottom: 0px;
}

.about{
  background-color: black;
}

.container{
  background-color: black;
}

.row{
  color: whitesmoke;
}

img{
  width: auto;
  height: 500px;
  max-height: 500px;
}

h3{
  font-weight: bolder;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
